build/sharedPointer/sharedPointer.vcxproj.filters
build/sharedPointer/sharedPointer.vcxproj
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/sharedPointer.lastbuildstate
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/link.write.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/link.read.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/CL.write.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/CL.read.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/CL.command.1.tlog
build/lambda/cmake_install.cmake
build/lambda/CMakeFiles/generate.stamp.depend
build/lambda/CMakeFiles/generate.stamp
build/cmake_install.cmake
build/c++11_STL_Example.sln
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/Game.vcxproj.filters
build/Game.vcxproj
build/CMakeFiles/3.12.3/VCTargetsPath.txt
build/CMakeFiles/3.12.3/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.12.3/CMakeCCompiler.cmake
build/CMakeCache.txt
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/.vs/c++11_STL_Example/v15/ipch/AutoPCH/630f7fd64939d342/LAMBDA.ipch
build/.vs/c++11_STL_Example/v15/ipch/AutoPCH/61f77862b8438d72/SHAREDPOINTER.ipch
build/.vs/c++11_STL_Example/v15/Solution.VC.db-wal
build/.vs/c++11_STL_Example/v15/Solution.VC.db-shm
build/.vs/c++11_STL_Example/v15/Solution.VC.db
build/.vs/c++11_STL_Example/v15/Browse.VC.opendb
build/.vs/c++11_STL_Example/v15/Browse.VC.db
build/sharedPointer/cmake_install.cmake
build/sharedPointer/CMakeFiles/generate.stamp.depend
build/sharedPointer/CMakeFiles/generate.stamp
build/lambda/lambda.vcxproj.filters
build/lambda/lambda.vcxproj
build/lambda/lambda.dir/Debug/lambda.tlog/link.write.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/link.read.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/link.command.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/lambda.lastbuildstate
build/lambda/lambda.dir/Debug/lambda.tlog/custombuild.write.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/custombuild.read.1.tlog
build/lambda/lambda.dir/Debug/lambda.tlog/custombuild.command.1.tlog
build/Game.dir/Debug/Game.tlog/CL.read.1.tlog
build/Game.dir/Debug/Game.tlog/CL.command.1.tlog
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/d17dc1a066e5ebd58bd308aa5867b61c/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.12.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.12.3/CMakeSystem.cmake
build/CMakeFiles/3.12.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
build/Game.dir/Debug/Game.tlog/custombuild.write.1.tlog
build/Game.dir/Debug/Game.tlog/custombuild.read.1.tlog
build/Game.dir/Debug/Game.tlog/custombuild.command.1.tlog
build/Game.dir/Debug/Game.tlog/Lib.command.1.tlog
build/Game.dir/Debug/Game.tlog/Lib-link.write.1.tlog
build/Game.dir/Debug/Game.tlog/Lib-link.read.1.tlog
build/Game.dir/Debug/Game.tlog/Game.lastbuildstate
build/Game.dir/Debug/Game.tlog/CL.write.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/link.command.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/custombuild.write.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/custombuild.read.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/custombuild.command.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/CL.write.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/CL.read.1.tlog
build/sharedPointer/sharedPointer.dir/Debug/sharedPointer.tlog/CL.command.1.tlog
